USE [SpotifyDB]
GO
/****** Object:  Table [dbo].[spotify_2023]    Script Date: 4/03/2025 5:04:51 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[spotify_2023](
	[track_name] [nvarchar](max) NULL,
	[artist_name] [nvarchar](max) NULL,
	[artist_count] [varchar](50) NULL,
	[released_year] [varchar](50) NULL,
	[released_month] [varchar](50) NULL,
	[released_day] [varchar](50) NULL,
	[in_spotify_playlists] [varchar](50) NULL,
	[in_spotify_charts] [varchar](50) NULL,
	[streams] [varchar](50) NULL,
	[in_apple_playlists] [varchar](50) NULL,
	[in_apple_charts] [varchar](50) NULL,
	[in_deezer_playlists] [varchar](50) NULL,
	[in_deezer_charts] [varchar](50) NULL,
	[in_shazam_charts] [varchar](50) NULL,
	[bpm] [varchar](50) NULL,
	[key] [varchar](50) NULL,
	[mode] [varchar](50) NULL,
	[danceability_%] [varchar](50) NULL,
	[valence_%] [varchar](50) NULL,
	[energy_%] [varchar](50) NULL,
	[acousticness_%] [varchar](50) NULL,
	[instrumentalness_%] [varchar](50) NULL,
	[liveness_%] [varchar](50) NULL,
	[speechiness_%] [varchar](50) NULL,
	[genre] [varchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
